pipeline/MasterPipeline.json
{
	"name": "MasterPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetPipelineList",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from [Control].[PilelineList] WHERE isactive=1"
					},
					"dataset": {
						"referenceName": "AzureSqldatabase",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetPipelineList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GetPipelineList').output.Pipelinename\n",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 2,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"typeProperties": {
								"pipeline": {
									"referenceName": "Customer",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PipelineName": {
				"type": "object",
				"defaultValue": "product"
			}
		}
	}
}